<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">
    <display-name>ecommerce-servlet</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>

    <servlet-mapping>
        <servlet-name>com.employee.servlets.EmployeeServlet</servlet-name>
        <url-pattern>/employees</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.employee.servlets.DepartmentServlet</servlet-name>
        <url-pattern>/departments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.employee.servlets.ProjectServlet</servlet-name>
        <url-pattern>/projects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>com.employee.servlets.LocationServlet</servlet-name>
        <url-pattern>/locations</url-pattern>
    </servlet-mapping>
</web-app>
